@model Client.Models.Product
@{
    ViewData["Title"] = "OneProductView";
}

<h1>Просмотр записи</h1>

<div style="font-size: 20px; font-weight: bold">
    ID = @Model.Id <br />
    Code = @Model.Code <br />
    Value = @Model.Value <br />
</div>